<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <connectionStrings>
    <add name="RedisExchangeHosts" connectionString="127.0.0.1:6379,allowadmin=true" />
    <add name="MQConnection" connectionString="host=localhost;virtualHost=OrderQueue;username=admin;password=admin" />
  </connectionStrings>
  <appSettings>
    <!--<add key="redisKey" value="Demo:test:" />-->
  </appSettings>
</configuration>